<h1>Editing Contact</h1>

<%= render 'form' %>

<%= button_to 'Show', contact_path(@contact), method: :get, class: "btn btn-xs btn-default", form_class: "inline-button" %>
<%= button_to 'Back', :back, method: :get, class: "btn btn-xs btn-default", form_class: "inline-button" %>

